.App {
  text-align: center;
}

.buttonText {
  font-family: 'Dosis', sans-serif;
}

.logoImg {
  width: 100px;
}

.logoTextLg {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
}

.logoTextSm {
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
}

.page {
  background-color: #FFF;
  width: 90%;
  box-shadow: 4px 4px 4px #DDD;
}

body {
  background-color: #EEE;
}
